.image {
    height: inherit;
    width: inherit;
    padding: unset;
    vertical-align: middle;
}

html {
    scrollbar-width: none;
}

body.display {
    background-color: #000;
    margin: 0px;
    border-collapse: collapse !important;
    overflow: hidden;
    cursor: auto;
}

tr {
    padding-top: 0vw;
    padding-bottom: 0vw;
}

td {
    padding-top: 0vw;
    padding-bottom: 0vw;

}

.platformDisplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56.25vw;
    border-collapse: collapse;
}

body {
    overflow: overlay;
    color: white;
    font-family: 'Roboto', sans-serif !important;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 0vw;
}

a {
    color: white;
    text-decoration: none;
}

body.viewer {
    background-color: #000;
    margin: 0px;
    padding: 1vw;
}

table {
    font-size: 3vw;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
    margin-top: 0px;
    border-collapse: collapse !important;
    border-color: transparent !important;
}

table.links {
    font-size: 20px;
    padding-top: 10vw;
    margin-bottom: 5px;
    border-collapse: collapse;
    background-color: #000;
    border: 6px solid var(--candyTrainsPrimaryBlue) !important;
}

.departuresTopBar {
    position: absolute;
    display: none;
    top: 0;
    width: 83vw;
    height: 2vw;
    left: 12vw;
    background-color: #194a9f;
}

.localTime {
    position: absolute;
    display: none;
    right: 5vw;
    top: 3vw;
    font-size: 4vw;
    font-weight: 300;
}

.departuresHeader {
    position: absolute;
    left: 12vw;
    top: 3vw;
    font-size: 4vw;
    display: none;
    font-weight: 200;
}

.departuresHeader>b {
    font-weight: 400;
}

.departureVia {
    width: 35vw;
}

.departuresTable {
    position: absolute;
    display: none;
    left: 12vw;
    top: 11vw;
    width: 83vw;
    height: 42.5vw;
    font-size: 1vw;
    text-align: left;
}

.departuresTimeColumn {
    width: 7vw;
    color: #ddd;
    font-weight: 300;
}

.departuresDestinationColumn {
    width: 22.5vw;
    color: #ddd;
    font-weight: 300;
}

.departuresNewTimeColumn {
    width: 12.5vw;
    color: #ddd;
    font-weight: 300;
}

.departuresPlatformColumn {
    width: 2vw;
    padding-right: 3vw;
    color: #ddd;
    font-weight: 300;
}

.departuresOperatorColumn {
    width: 2vw;
}

.firstRow {
    height: 3.5vw;
    border-top: none;
    vertical-align: top;
}

.departureTime {
    font-size: 1.75vw;
    border: none;
    padding-top: 0vw;
    padding-bottom: 0vw;
}

.departureNewTime {
    font-size: 2vw;
    color: #ffd300;
}

.departurePlatform {
    font-size: 2vw;
    text-align: center;
    width: 2vw;
    padding-right: 3vw;
}

.departureImage {
    height: 1.5vw;
}

.departureDestination {
    font-size: 2vw;
}

.departureOperatorImage {
    height: 2vw;
}

.trainImage {
    display: none;
    position: absolute;
    left: 4vw;
    top: 2.5vw;
    width: 6vw;
}

/* Arrivals */

.arrivalsTopBar {
    position: absolute;
    display: none;
    top: 0;
    width: 50vw;
    height: 2vw;
    left: 40vw;
    background-color: #138d5a;
}

.arrivalsHeader {
    position: absolute;
    left: 40vw;
    top: 3vw;
    font-weight: 200;
    font-size: 4vw;
    display: none;
}

.arrivalsHeader>b {
    font-weight: 400;
}

.arrivalsTable {
    position: absolute;
    display: none;
    left: 40vw;
    top: 11vw;
    width: 50vw;
    height: 42.5vw;
    font-size: 1vw;
    text-align: left;
}

.arrivalsTimeColumn {
    width: 7vw;
    color: #ddd;
    font-weight: 300;
}

.arrivalsOriginColumn {
    width: 22.5vw;
    color: #ddd;
    font-weight: 300;
}

.arrivalsNewTimeColumn {
    width: 12.5vw;
    color: #ddd;
    font-weight: 300;
}

.arrivalsPlatformColumn {
    width: 2vw;
    padding-right: 3vw;
    color: #ddd;
    font-weight: 300;
}

.arrivalsOperatorColumn {
    width: 2vw;
    color: #ddd;
    font-weight: 300;
}

.firstRow {
    height: 3.5vw;
    border-bottom: 0.1vw solid #565656;
    vertical-align: top;
}

.arrivalClock {
    display: none;
    position: absolute;
    left: 6vw;
    top: 4vw;
    width: 6vw;
}

.arrivalsStationName {
    display: none;
    position: absolute;
    left: 5vw;
    top: 4vw;
    width: 30vw;
    font-size: 5vw;
    text-align: center;
}

.departureLine {
    width: 2vw;
}

.via {
    width: 40%;
}

.nextToTopBar {
    position: absolute;
    display: none;
    top: 0;
    width: 80vw;
    height: 2vw;
    left: 10vw;
    background-color: #3c3c3c;
}

.nextToHeader {
    position: absolute;
    display: none;
    left: 10vw;
    top: 3vw;
    font-weight: 200;
    font-size: 4vw;
}

.nextToHeader>b {
    font-weight: 400;
}

.nextToDestinationOne {
    position: absolute;
    top: 11vw;
    left: 10vw;
    height: 15vw;
    width: 37.5vw;
    /* border: 1px solid white; */
    display: none;
}

.nextToDestinationTwo {
    position: absolute;
    top: 11vw;
    right: 10vw;
    height: 15vw;
    width: 37.5vw;
    /* border: 1px solid white; */
    display: none;
}

.nextToDestinationThree {
    position: absolute;
    top: 29vw;
    left: 10vw;
    height: 15vw;
    width: 37.5vw;
    /* border: 1px solid white; */
    display: none;
}

.nextToDestinationFour {
    position: absolute;
    top: 29vw;
    right: 10vw;
    height: 15vw;
    width: 37.5vw;
    /* border: 1px solid white; */
    display: none;
}

.nextToDestinationText {
    border-bottom: 0.1vw solid #565656;
    font-size: 1.75vw;
    font-weight: 200;
}

.nextToDestinationText>b {
    font-weight: 400;
    font-size: 2.75vw;
}

.nextToDestinationDeparture {
    float: left;
    width: 50%;
}

.nextToDestinationDeparture>.time {
    font-size: 4vw;
    padding-top: 1vw;
    font-weight: 200;
}

.nextToDestinationDeparture>.line {
    height: 1.5vw;
    float: left;
}

.nextToDestinationDeparture>.destination {
    font-size: 1.5vw;
    margin-top: -0.15vw;
    vertical-align: middle;
    font-weight: 400;
}
.nextToDestinationDeparture>.track {
    height: 1.75vw;
    font-size: 1.75vw;
    font-weight: 100;
}

.warningYellow {
    color: #ffd300;
}